body {
  font-family:sans-serif;
}

body, input, button{
  font-size:40px;
}

h1 {
  text-align:center;
}

a, a:visited {
  text-decoration:none;
  color:#2A6496;
}

.message {
  text-align:center;
  padding: 1em;
  margin:0.6em 0;
  background: none repeat scroll 0% 0% #eee;
}

label {
  display:block;
  font-weight:bold;
  padding-bottom:0.4em;
}

input {
  width:100%;
  padding:0.2em 0;
  margin-bottom:0.6em;
}

button {
  width:100%;
  padding:0.2em 0;
}

form div.error{
  background:#eee;
}

ul.menu {
  border-top:solid 1px #428BCA;
  list-style-type:none;
  padding:0;
}

ul.menu li {
  padding:12px 12px;
  border-bottom:solid 1px #428BCA;
}

ul.menu li.selected {
  background: #428BCA;
}

ul.menu li.selected a {
  color:#fff;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
