{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
  <h1>Sign in</h1>

    {% if failed %}
      <div class="message error">
          Invalid username or password
      </div>
    {% endif %}

  <form action="" method="post">
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    <button type="submit">Sign in</button>
  </form>

  <script charset="utf-8">
    $(document).ready(function(){
      $('form button[type="submit"]').hide();
      $('#email').focus();
    });
  </script>
{% endblock %}
